<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <title><%= title || 'CSE Motors' %></title>
  </head>
  <body>
    <div id="wrapper">
      <%- include('../partials/header') %>
      <%- include('../partials/navigation') %>

      <main>
        <%- body %>
      </main>

      <%- include('../partials/footer') %>
    </div>
  </body>
</html>

