<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <div id="wrapper">
        <%- include('../partials/header') %>
        <%- include('../partials/navigation') %>
        <main>
            <%- body %>
        </main>
        <%- include('../partials/footer') %>
    </div>
</body>
</html>
<!-- The main wrapper div for the entire page content -->
    <div id="wrapper">
        <!-- HEADER Section -->
        <header>
            <!-- Website Logo/Title -->
            <h1>CSE Motors</h1>
            <!-- User Account Link -->
            <a href="#" class="account-link">My Account</a>
        </header>